/* Generic Styling for Page */
html,
body {
  height: 100vh;
  margin: 0;
  background-color: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}

input,
label,
button {
  font-family: "Open Sans", sans-serif;
}

a,
button {
  font-size: 10px;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

p {
  color: #000000;
}

/* Styling for Header */
.header {
  background-image: url("assets/hero-banner.jpeg");
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
}

.header__galeBadge-img {
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
}

.header__omniLogo-img {
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: 30px;
  right: 20px;
  width: 100px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(0, 0, 0, 0.5);
}

/* Styling for Header Search Form */
.header__form {
  margin: 0 20px;
  position: relative;
}

.header-form__h1 {
  margin: 0;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 28px;
}

.header-form-h1_span {
  font-weight: 400;
}

.header__searchType-btn {
  margin-right: -8px;
  padding: 7px 5px;
  border: none;
  border-radius: 3px;
  background-color: #f2f2f2;
  color: #595959;
}

.header-form__search-input {
  width: 350px;
  margin: 0;
  padding: 7px;
  border-radius: 3px;
  border: none;
  font-size: 10px;
}

.header-form__search-btn {
  background-color: transparent;
  border: none;
  color: #595959;
  position: absolute;
  bottom: 20px;
  right: 3px;
  font-size: 18px;
}

.header-form__search-a:link {
  width: 85px;
  margin: 2px;
  color: #fff;
  display: block;
}

.header-form__search-a:visited {
  color: #fff;
}

.header-form__search-a:hover {
  color: #f2f2f2;
}

.header-form__search-a:active {
  color: #fff;
}

/* Styling for Nav Bar */
.nav {
  height: 5%;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 3px 2px #c9cbcc;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__div {
  text-align: center;
  margin: 0 7px;
}

.nav__div:nth-child(4) {
  margin-right: 25px;
}

.nav__div a:link {
  color: #595959;
}

.nav__div a:visited {
  color: #595959;
}

.nav__div a:hover {
  color: #000000;
}

.nav__div a:active {
  color: #595959;
}

.nav__i {
  color: #595959;
  font-size: 16px;
  display: block;
  margin: 5px 0 -5px 0;
}

/* Styling for Main Container */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 25px 20px;
}

.container-col1__div,
.container-col2__div {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.container-item__div {
  display: flex;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 3px 3px 4px #c9cbcc, -2px -1px 4px #c9cbcc;
  margin: 10px;
  min-height: 165px;
}

.container-item__book-img {
  margin: 10px;
  width: 100px;
}

.container-item__info-div {
  margin: 10px 20px 10px 0px;
}

.container-item__h5 {
  color: #d54405;
  font-size: 12px;
  margin: 0;
}

.container-item__edition-p {
  font-size: 10px;
  font-style: italic;
  margin: 3px 0;
}

.container-item__summary-p {
  margin: 5px 0;
  font-size: 12px;
}

.container-item__form {
  position: relative;
}

.container-item-form__input {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  font-size: 12px;
}

.container-item-form__search-btn {
  background-color: transparent;
  border: none;
  color: #595959;
  font-size: 18px;
  position: absolute;
  top: 2%;
  right: 1%;
}

/* Styling for Browse Topics Section */
.topics__section {
  margin: 5px 30px 40px 30px;
  width: 450px;
}

.topics-section__h5 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 300;
}

.topics-section__span {
  border-bottom: 3px solid #d54405;
  padding-bottom: 2px;
}

.topics-section__p {
  font-size: 10px;
  padding-top: 4px;
}

.topics-section__div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.topics-section__btn {
  background-color: #fff;
  color: #006298;
  border: 1px solid #006298;
  padding: 3px 8px;
  border-radius: 3px;
  margin: 0 5px 5px 0;
}

.topics-section__btn:hover {
  background-color: #006298;
  color: #fff;
  transition-duration: 0.4s;
}

.topics-section__a:link {
  color: #006298;
}
.topics-section__a:visited {
  color: #006298;
}
.topics-section__a:hover {
  color: #004165;
}
.topics-section__a:active {
  color: #006298;
}

/* Styling for Footer */
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #fff;
}

.footer-logo__img {
  margin: 0 30px;
}

.footer-tagline__img {
  margin: 0 10px;
}

.footer-nav__ul {
  list-style: none;
  display: flex;
}

.footer-nav__li {
  text-transform: uppercase;
}

.footer-nav__li a:link {
  color: #006298;
  font-size: 8px;
  font-weight: bold;
}

.footer-nav__li a:visited {
  color: #006298;
}

.footer-nav__li a:hover {
  color: #004165;
}

.footer-nav__li a:active {
  color: #006298;
}

@media screen and (min-width: 769px) and (max-width: 991px) {
  .container-item-form__input::placeholder {
    font-size: 9px;
  }

  .container-item__div {
    min-height: 230px;
  }
  .footer-nav__ul {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 25px;
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .header__form {
    padding-top: 40px;
  }

  .container-col1__div,
  .container-col2__div {
    width: 100%;
  }

  .container {
    flex-direction: column;
    padding: 15px;
  }

  .topics__section {
    margin: 10px 30px 30px 30px;
  }
  .footer-nav__ul {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 25px;
  }
}

/* STYLING FOR MOBILE */
@media screen and (min-width: 481px) and (max-width: 600px) {
  .header__form {
    padding-top: 40px;
  }

  .header__omniLogo-img {
    top: 15px;
    right: 15px;
  }

  .container-col1__div,
  .container-col2__div {
    width: 100%;
  }

  .container {
    flex-direction: column;
    padding: 15px;
  }

  .container-item-form__input::placeholder {
    font-size: 11px;
  }

  .topics__section {
    margin: 10px 30px 30px 30px;
    width: 90%;
  }

  .footer {
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
  }

  .footer-nav__ul {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10px;
  }

  .footer-logo__img {
    margin: 0;
  }

  .footer-tagline__img {
    margin: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .header__form {
    padding-top: 40px;
  }

  .header-form__h1 {
    font-size: 20px;
  }

  .header-form__search-input {
    width: 225px;
  }

  .header__galeBadge-img {
    width: 125px;
  }

  .header__omniLogo-img {
    top: 10px;
    right: 10px;
    width: 75px;
  }

  .header-form__search-btn {
    bottom: 20px;
  }

  .nav {
    justify-content: space-evenly;
  }

  .nav__div:nth-child(4) {
    margin-right: 0px;
  }

  .container {
    flex-direction: column;
    padding: 15px;
  }

  .container-col1__div,
  .container-col2__div {
    width: 100%;
  }

  .container-item-form__input::placeholder {
    color: transparent;
  }

  .topics__section {
    margin: 10px 30px 30px 30px;
    width: 90%;
  }

  .footer {
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
  }

  .footer-nav__ul {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10px;
  }

  .footer-logo__img {
    margin: 0;
  }

  .footer-tagline__img {
    margin: 0;
  }
}

@media only screen and (max-height: 700px) {
  .nav {
    height: 7%;
  }
}
