/* Generic Styling for Page */
html,
body {
  height: 100vh;
  margin: 0;
  background-color: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}

input,
button,
a {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
}

p {
  font-size: 12px;
  color: #000000;
}

/* Styling for the header */
.header {
  background-image: url("assets/hero-banner.jpeg");
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
}

.header__galeBadge-img {
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
}

.header__omniLogo-img {
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: 30px;
  right: 20px;
  width: 100px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(0, 0, 0, 0.5);
}

/* Styling for header search form */
.header__form {
  margin: 0 20px;
  position: relative;
}

.header-form__h1 {
  margin: 0;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 28px;
}

.header-form-h1_span {
  font-weight: 400;
}

.header__searchType-btn {
  margin-right: -8px;
  padding: 7px 5px;
  border: none;
  border-radius: 3px;
}

.header-form__search-input {
  width: 350px;
  margin: 0;
  padding: 7px;
  border-radius: 3px;
  border: none;
}

.header-form__search-btn {
  background-color: transparent;
  border: none;
  color: #595959;
  position: absolute;
  bottom: 20px;
  right: 3px;
  font-size: 18px;
}

.header-form__search-a {
  font-size: 10px;
  margin: 2px;
  color: #fff;
  display: block;
  text-decoration: none;
}

/* Styling for nav bar */
.nav {
  height: 5%;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 3px 2px #c9cbcc;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 5px;
}

.nav__titleList-div,
.nav__searchHistory-div,
.nav__getLink-div {
  text-align: center;
  margin: 0 7px;
}

.nav__highLightsAndNotes-div {
  text-align: center;
  margin-left: 7px;
  margin-right: 25px;
}

.nav__i {
  color: #595959;
  font-size: 16px;
  display: block;
  margin-bottom: -5px;
}

.nav__a {
  color: #595959;
  margin: 0;
  padding: 0;
  font-size: 9px;
  text-decoration: none;
}

/* Styling for main content section */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__leftSide-div,
.main__rightSide-div {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 50%;
}

.main-leftSide__sub-div,
.main-rightSide__sub-div {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 100%;
  margin: 20px;
  border-radius: 3px;
  box-shadow: 3px 3px 4px #c9cbcc, -2px -1px 4px #c9cbcc;
}

.main__book-img {
  padding: 10px 10px 15px 10px;
  width: 125px;
}

.main__info-div {
  margin-right: 20px;
}

.main__bookTitle-h5 {
  color: #d54405;
  margin: 0;
}

.main__edition-p {
  font-size: 10px;
  font-style: italic;
  margin: 3px 0;
}

.main__summary-p {
  margin: 5px 0;
}

.main__form {
  position: relative;
}

.main-form__search-input {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  font-size: 12px;
}

.main-form__search-btn {
  background-color: transparent;
  border: none;
  color: #595959;
  font-size: 18px;
  position: absolute;
  top: 2%;
  right: 1%;
}
